.text-right
  text-align: right
  margin-right: 10px
.text-left
  text-align: left
.text-center
  text-align: center
.vertical-h
  vertical-align: middle
  text-align: center
 .float-right
   float: right
 .float-left
   float: left
 .flex-center
   display: flex
   align-items: center
   justify-content: center
 .flex-center-a
   display: flex;
   align-items: center;